#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	sh bootstrap.sh
	dh_auto_configure

override_dh_strip:
	dh_strip --dbg-package=tcpflow-dbg

override_dh_auto_clean:
	dh_auto_clean
	rm -f config.guess config.log config.status config.sub configure
	rm -rf Makefile Makefile.in
	rm -rf src/*.d
